<p id="notice"><%= notice %></p>

<h1>Sentences for "<%= @word.english_word %>"</h1>
<%= link_to 'New Sentence', new_word_sentence_path(@word) %>
<table>
<% @sentences.each do |sentence| %>
    <tbody>
      <tr>
        <th><%= sentence.english_sentence %></th>
        <td></td>
      </tr>
      <tr>
        <th><%= sentence.transliteration_sentence %></th>
        <td></td>
      </tr>
      <tr>
        <th><%= sentence.translation_sentence %></th>
        <td></td>
      </tr>
      <tr>
        <th><%= sentence.pronunciation_sentence %></th>
        <td></td>
      </tr>
      <tr>
        <th><%= sentence.word_id %></th>
        <td></td>
      </tr>
      <tr rowspan="3">
        <th>Modify</th>
        <td><%= link_to 'Show Word', [@word] %></td>
        <td><%= link_to 'Edit Sentence', edit_word_sentence_path(@word, sentence) %></td>
        <td><%= link_to 'Destroy Sentence', [@word, sentence], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    </tbody>
  <% end %>
</table>

