<p id="notice"><%= notice %></p>

<h1>Words</h1>

<%= link_to 'New Word', new_word_path %>

<% @words.each do |word| %>
  <table>
    <tbody>
        <tr>
          <td>
            <%= word.english_word %>
            (<%= word.part_of_speech %>)
          </td>
        </tr>
        <tr>
          <td><%= word.transliteration %></td>
        </tr>
        <tr>
          <td><%= word.translation %></td>
        </tr>
        <tr>
          <td><%= audio_tag(url_for(word.pronunciation), controls: true) %></td>
        </tr>
        <tr>
          <td><%= image_tag(url_for(word.image))  %></td>
        </tr>
        <tr rowspan="3">
          <td>
            <%= link_to 'Show', word %>
            <%= link_to 'Edit', edit_word_path(word) %>
            <%= link_to 'Destroy', word, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
    </tbody>
  </table>
<% end %>
