<p id="notice"><%= notice %></p>

<h1>English to Dari Words</h1>

<div class="new">
  <%= link_to 'New Word', new_word_path %>  
</div>

<% @words.each do |word| %>
  <table class="words-table">
    <tbody>
        <tr>
          <td>
            <%= link_to word.english_word, word %>
            (<%= word.part_of_speech %>)
          </td>
        </tr>
        <tr>
          <td><%= word.transliteration %></td>
        </tr>
        <tr>
          <td><%= word.translation %></td>
        </tr>
        <tr>
          <td><%= audio_tag(url_for(word.pronunciation), controls: true) %></td>
        </tr>
        <tr>
          <td><%= image_tag(url_for(word.image))  %></td>
        </tr>
        <tr rowspan="3">
          <td>
            <%= link_to 'Edit', edit_word_path(word) %> |
            <%= link_to 'Delete', word, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
    </tbody>
  </table>
<% end %>
