<p id="notice"><%= notice %></p>

<h1>Words</h1>

<table>
  <tbody>
    <% @words.each do |word| %>
      <tr><th>ID</th><td><%= word.id %></td></tr>
      <tr><th>English word</th><td><%= word.english_word %></td></tr>
      <tr><th>Part of speech</th><td><%= word.part_of_speech %></td></tr>
      <tr><th>Transliteration</th><td><%= word.transliteration %></td></tr>
      <tr><th>Translation</th><td><%= word.translation %></td></tr>
      <tr><th>Pronunciation</th><td><%= audio_tag(url_for(word.pronunciation), controls: true) %></td></tr>
      <tr><th>Image</th><td><%= image_tag(url_for(word.image))  %></td></tr>
      <tr><th colspan="3"></th>
          <td><%= link_to 'Show', word %></td>
          <td><%= link_to 'Edit', edit_word_path(word) %></td>
          <td><%= link_to 'Destroy', word, method: :delete, data: { confirm: 'Are you sure?' } %></td>  
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Word', new_word_path %>
