<p id="notice"><%= notice %></p>

<p>
  <strong>English word:</strong>
  <%= @word.english_word %>
</p>

<p>
  <strong>Part of speech:</strong>
  <%= @word.part_of_speech %>
</p>

<p>
  <strong>Transliteration:</strong>
  <%= @word.transliteration %>
</p>

<p>
  <strong>Translation:</strong>
  <%= @word.translation %>
</p>

<p>
  <strong>Pronunciation:</strong>
  <%= audio_tag(url_for(@word.pronunciation), controls: true) %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag(url_for(@word.image))  %>
</p>

<%= link_to 'Edit', edit_word_path(@word) %> |
<%= link_to 'Back', words_path %>
